{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"> 
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-9 col-md-8">
<h1>Create Account</h1>
                <form action="" method="post" class=" mt-2 shadow">
                    <div class="py-1 px-3">
                        <input type="text" name="first_n" placeholder="FirstName" class="form-control">
                        <input type="text" name="Second_n" placeholder="LastName" class="form-control mt-1">
                    </div>

                    <div class="mt-1  px-3">
                        <input type="email" name="email" placeholder="aliwangara@gmail.com" class="form-control">
                        <input type="date" name="date" placeholder="Enter DOB" class="form-control w-50 mt-1">
                    </div>

                    <div class="d-flex mt-1 px-3 ">
                        <input type="password" placeholder="Enter Password" name="pass1" id="" class="form-control w-50 me-2">
                        <input type="password" placeholder="Confirm-Passowrd" name="pass2" id="" class="form-control w-50">
                    </div>
                    <button class="btn btn-primary form-control w-50 ms-auto mb-3 mt-3">Submit</button>
                </form>

            </div>

        </div>

    </div>
</body>
</html>